USE [master]
GO
/****** Object:  Database [CleanArchDB]    Script Date: 6/4/2026 3:02:32 PM ******/
CREATE DATABASE [CleanArchDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CleanArchDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CleanArchDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CleanArchDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CleanArchDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CleanArchDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CleanArchDB]
GO
/****** Object:  UserDefinedTableType [dbo].[ProductList_Type]    Script Date: 6/4/2026 3:02:33 PM ******/
CREATE TYPE [dbo].[ProductList_Type] AS TABLE(
	[ProductName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[CategoryId] [int] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[UserList_Type]    Script Date: 6/4/2026 3:02:33 PM ******/
CREATE TYPE [dbo].[UserList_Type] AS TABLE(
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
	[RoleId] [int] NOT NULL
)
GO
/****** Object:  Table [dbo].[mst_Category]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[CategoryName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_mst_Category_CategoryName] UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_mst_Category_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_User]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_mst_User_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_mst_User_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_Product]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_mst_Product_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Order]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tbl_Order_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_OrderItem]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OrderItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tbl_OrderItem_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderDetails]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- VIEWS (JOIN queries for reporting)
-- ============================================================

CREATE   VIEW [dbo].[vw_OrderDetails]
AS
    SELECT
        o.GUID          AS OrderGUID,
        o.OrderDate,
        o.TotalAmount,
        o.Status        AS OrderStatus,
        u.GUID          AS UserGUID,
        u.FirstName + ' ' + u.LastName AS CustomerName,
        u.Email,
        p.GUID          AS ProductGUID,
        p.ProductName,
        c.CategoryName,
        oi.Quantity,
        oi.UnitPrice,
        oi.Quantity * oi.UnitPrice AS LineTotal
    FROM dbo.tbl_Order o
    INNER JOIN dbo.mst_User       u  ON u.Id = o.UserId
    INNER JOIN dbo.tbl_OrderItem  oi ON oi.OrderId = o.Id
    INNER JOIN dbo.mst_Product    p  ON p.Id = oi.ProductId
    INNER JOIN dbo.mst_Category   c  ON c.Id = p.CategoryId
    WHERE o.IsActive = 1
      AND u.IsActive = 1
      AND p.IsActive = 1;

GO
/****** Object:  View [dbo].[vw_ProductCatalog]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_ProductCatalog]
AS
    SELECT
        p.GUID          AS ProductGUID,
        p.ProductName,
        p.Description,
        p.Price,
        p.Stock,
        c.CategoryName,
        c.GUID          AS CategoryGUID
    FROM dbo.mst_Product  p
    INNER JOIN dbo.mst_Category c ON c.Id = p.CategoryId
    WHERE p.IsActive = 1 AND c.IsActive = 1;

GO
/****** Object:  Table [dbo].[mst_Role]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_mst_Role_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_mst_Role_RoleName] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_mst_Product_CategoryId]    Script Date: 6/4/2026 3:02:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_mst_Product_CategoryId] ON [dbo].[mst_Product]
(
	[CategoryId] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_mst_Product_GUID]    Script Date: 6/4/2026 3:02:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_mst_Product_GUID] ON [dbo].[mst_Product]
(
	[GUID] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_mst_User_Email]    Script Date: 6/4/2026 3:02:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_mst_User_Email] ON [dbo].[mst_User]
(
	[Email] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_mst_User_GUID]    Script Date: 6/4/2026 3:02:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_mst_User_GUID] ON [dbo].[mst_User]
(
	[GUID] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tbl_Order_GUID]    Script Date: 6/4/2026 3:02:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_tbl_Order_GUID] ON [dbo].[tbl_Order]
(
	[GUID] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tbl_Order_UserId]    Script Date: 6/4/2026 3:02:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_tbl_Order_UserId] ON [dbo].[tbl_Order]
(
	[UserId] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tbl_OrderItem_OrderId]    Script Date: 6/4/2026 3:02:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_tbl_OrderItem_OrderId] ON [dbo].[tbl_OrderItem]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[mst_Category] ADD  DEFAULT (newsequentialid()) FOR [GUID]
GO
ALTER TABLE [dbo].[mst_Category] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[mst_Category] ADD  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_Category] ADD  DEFAULT ('SYSTEM') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[mst_Product] ADD  DEFAULT (newsequentialid()) FOR [GUID]
GO
ALTER TABLE [dbo].[mst_Product] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[mst_Product] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[mst_Product] ADD  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_Product] ADD  DEFAULT ('SYSTEM') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[mst_Role] ADD  DEFAULT (newsequentialid()) FOR [GUID]
GO
ALTER TABLE [dbo].[mst_Role] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[mst_Role] ADD  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_Role] ADD  DEFAULT ('SYSTEM') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[mst_User] ADD  DEFAULT (newsequentialid()) FOR [GUID]
GO
ALTER TABLE [dbo].[mst_User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[mst_User] ADD  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_User] ADD  DEFAULT ('SYSTEM') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[tbl_Order] ADD  DEFAULT (newsequentialid()) FOR [GUID]
GO
ALTER TABLE [dbo].[tbl_Order] ADD  DEFAULT (getutcdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[tbl_Order] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[tbl_Order] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Order] ADD  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_Order] ADD  DEFAULT ('SYSTEM') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[tbl_OrderItem] ADD  DEFAULT (newsequentialid()) FOR [GUID]
GO
ALTER TABLE [dbo].[tbl_OrderItem] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_OrderItem] ADD  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_OrderItem] ADD  DEFAULT ('SYSTEM') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[mst_Product]  WITH CHECK ADD  CONSTRAINT [FK_mst_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[mst_Category] ([Id])
GO
ALTER TABLE [dbo].[mst_Product] CHECK CONSTRAINT [FK_mst_Product_Category]
GO
ALTER TABLE [dbo].[mst_User]  WITH CHECK ADD  CONSTRAINT [FK_mst_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[mst_Role] ([Id])
GO
ALTER TABLE [dbo].[mst_User] CHECK CONSTRAINT [FK_mst_User_Role]
GO
ALTER TABLE [dbo].[tbl_Order]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Order_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[mst_User] ([Id])
GO
ALTER TABLE [dbo].[tbl_Order] CHECK CONSTRAINT [FK_tbl_Order_User]
GO
ALTER TABLE [dbo].[tbl_OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_tbl_OrderItem_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[tbl_Order] ([Id])
GO
ALTER TABLE [dbo].[tbl_OrderItem] CHECK CONSTRAINT [FK_tbl_OrderItem_Order]
GO
ALTER TABLE [dbo].[tbl_OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_tbl_OrderItem_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[mst_Product] ([Id])
GO
ALTER TABLE [dbo].[tbl_OrderItem] CHECK CONSTRAINT [FK_tbl_OrderItem_Product]
GO
ALTER TABLE [dbo].[mst_Product]  WITH CHECK ADD  CONSTRAINT [CK_mst_Product_Price] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[mst_Product] CHECK CONSTRAINT [CK_mst_Product_Price]
GO
ALTER TABLE [dbo].[mst_Product]  WITH CHECK ADD  CONSTRAINT [CK_mst_Product_Stock] CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[mst_Product] CHECK CONSTRAINT [CK_mst_Product_Stock]
GO
ALTER TABLE [dbo].[tbl_Order]  WITH CHECK ADD  CONSTRAINT [CK_tbl_Order_Status] CHECK  (([Status]='Cancelled' OR [Status]='Delivered' OR [Status]='Shipped' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[tbl_Order] CHECK CONSTRAINT [CK_tbl_Order_Status]
GO
ALTER TABLE [dbo].[tbl_OrderItem]  WITH CHECK ADD  CONSTRAINT [CK_tbl_OrderItem_Qty] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[tbl_OrderItem] CHECK CONSTRAINT [CK_tbl_OrderItem_Qty]
GO
/****** Object:  StoredProcedure [dbo].[usp_Order_Create]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- usp_Order_Create (with order items - transaction)
CREATE   PROCEDURE [dbo].[usp_Order_Create]
    @UserGUID  UNIQUEIDENTIFIER,
    @CreatedBy NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @UserId INT = (SELECT Id FROM dbo.mst_User WHERE GUID = @UserGUID AND IsActive = 1);

        IF @UserId IS NULL
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('User not found.', 16, 1);
            RETURN;
        END

        DECLARE @NewGUID UNIQUEIDENTIFIER = NEWID();

        INSERT INTO dbo.tbl_Order (GUID, UserId, TotalAmount, CreatedBy)
        VALUES (@NewGUID, @UserId, 0, @CreatedBy);

        COMMIT TRANSACTION;
        SELECT @NewGUID AS GUID;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Order_GetAll]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- ORDER STORED PROCEDURES
-- ============================================================

-- usp_Order_GetAll
CREATE   PROCEDURE [dbo].[usp_Order_GetAll]
    @UserGUID   UNIQUEIDENTIFIER = NULL,
    @Status     NVARCHAR(50)     = NULL,
    @PageNumber INT              = 1,
    @PageSize   INT              = 10
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT
            o.GUID,
            o.OrderDate,
            o.TotalAmount,
            o.Status,
            u.GUID   AS UserGUID,
            u.FirstName + ' ' + u.LastName AS CustomerName,
            COUNT(*) OVER() AS TotalRecords
        FROM dbo.tbl_Order o
        INNER JOIN dbo.mst_User u ON u.Id = o.UserId
        WHERE o.IsActive = 1
          AND (@UserGUID IS NULL OR u.GUID = @UserGUID)
          AND (@Status   IS NULL OR o.Status = @Status)
        ORDER BY o.CreatedOn DESC
        OFFSET (@PageNumber - 1) * @PageSize ROWS
        FETCH NEXT @PageSize ROWS ONLY;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Product_BulkInsert]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- usp_Product_BulkInsert (uses UDT)
CREATE   PROCEDURE [dbo].[usp_Product_BulkInsert]
    @Products  dbo.ProductList_Type READONLY,
    @CreatedBy NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO dbo.mst_Product (ProductName, Description, Price, Stock, CategoryId, CreatedBy)
        SELECT ProductName, Description, Price, Stock, CategoryId, @CreatedBy
        FROM @Products;

        COMMIT TRANSACTION;
        SELECT @@ROWCOUNT AS InsertedCount;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Product_Create]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- usp_Product_Create
CREATE   PROCEDURE [dbo].[usp_Product_Create]
    @ProductName NVARCHAR(200),
    @Description NVARCHAR(1000) = NULL,
    @Price       DECIMAL(18,2),
    @Stock       INT,
    @CategoryId  INT,
    @CreatedBy   NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @NewGUID UNIQUEIDENTIFIER = NEWID();

        INSERT INTO dbo.mst_Product (GUID, ProductName, Description, Price, Stock, CategoryId, CreatedBy)
        VALUES (@NewGUID, @ProductName, @Description, @Price, @Stock, @CategoryId, @CreatedBy);

        COMMIT TRANSACTION;
        SELECT @NewGUID AS GUID;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Product_Delete]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- usp_Product_Delete (Soft Delete)
CREATE   PROCEDURE [dbo].[usp_Product_Delete]
    @GUID      UNIQUEIDENTIFIER,
    @DeletedBy NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        UPDATE dbo.mst_Product
        SET IsActive  = 0,
            UpdatedOn = GETUTCDATE(),
            UpdatedBy = @DeletedBy
        WHERE GUID = @GUID AND IsActive = 1;

        IF @@ROWCOUNT = 0
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('Product not found.', 16, 1);
            RETURN;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Product_GetAll]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- PRODUCT STORED PROCEDURES
-- ============================================================

-- usp_Product_GetAll (Filtering + Pagination + Total Count)
CREATE   PROCEDURE [dbo].[usp_Product_GetAll]
    @SearchTerm  NVARCHAR(200)  = NULL,
    @CategoryId  INT            = NULL,
    @MinPrice    DECIMAL(18,2)  = NULL,
    @MaxPrice    DECIMAL(18,2)  = NULL,
    @PageNumber  INT            = 1,
    @PageSize    INT            = 10
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT
            p.GUID,
            p.ProductName,
            p.Description,
            p.Price,
            p.Stock,
            p.IsActive,
            p.CreatedOn,
            c.CategoryName,
            c.GUID AS CategoryGUID,
            COUNT(*) OVER() AS TotalRecords
        FROM dbo.mst_Product p
        INNER JOIN dbo.mst_Category c ON c.Id = p.CategoryId
        WHERE p.IsActive = 1
          AND (@SearchTerm IS NULL OR p.ProductName LIKE '%' + @SearchTerm + '%')
          AND (@CategoryId IS NULL OR p.CategoryId = @CategoryId)
          AND (@MinPrice IS NULL OR p.Price >= @MinPrice)
          AND (@MaxPrice IS NULL OR p.Price <= @MaxPrice)
        ORDER BY p.CreatedOn DESC
        OFFSET (@PageNumber - 1) * @PageSize ROWS
        FETCH NEXT @PageSize ROWS ONLY;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Product_GetByGUID]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- usp_Product_GetByGUID
CREATE   PROCEDURE [dbo].[usp_Product_GetByGUID]
    @GUID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT
            p.GUID,
            p.ProductName,
            p.Description,
            p.Price,
            p.Stock,
            p.IsActive,
            p.CreatedOn,
            p.UpdatedOn,
            c.CategoryName,
            c.GUID AS CategoryGUID
        FROM dbo.mst_Product p
        INNER JOIN dbo.mst_Category c ON c.Id = p.CategoryId
        WHERE p.GUID = @GUID AND p.IsActive = 1;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Product_Update]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- usp_Product_Update
CREATE   PROCEDURE [dbo].[usp_Product_Update]
    @GUID        UNIQUEIDENTIFIER,
    @ProductName NVARCHAR(200),
    @Description NVARCHAR(1000) = NULL,
    @Price       DECIMAL(18,2),
    @Stock       INT,
    @CategoryId  INT,
    @UpdatedBy   NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        UPDATE dbo.mst_Product
        SET ProductName = @ProductName,
            Description = @Description,
            Price       = @Price,
            Stock       = @Stock,
            CategoryId  = @CategoryId,
            UpdatedOn   = GETUTCDATE(),
            UpdatedBy   = @UpdatedBy
        WHERE GUID = @GUID AND IsActive = 1;

        IF @@ROWCOUNT = 0
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('Product not found.', 16, 1);
            RETURN;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_User_BulkInsert]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- usp_User_BulkInsert (uses UDT)
CREATE   PROCEDURE [dbo].[usp_User_BulkInsert]
    @Users     dbo.UserList_Type READONLY,
    @CreatedBy NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Validate no duplicate emails
        IF EXISTS (
            SELECT u.Email FROM @Users u
            INNER JOIN dbo.mst_User existing ON existing.Email = u.Email AND existing.IsActive = 1
        )
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('One or more emails already exist.', 16, 1);
            RETURN;
        END

        INSERT INTO dbo.mst_User (FirstName, LastName, Email, PasswordHash, RoleId, CreatedBy)
        SELECT FirstName, LastName, Email, Password, RoleId, @CreatedBy
        FROM @Users;

        COMMIT TRANSACTION;
        SELECT @@ROWCOUNT AS InsertedCount;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_User_Create]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- usp_User_Create
CREATE   PROCEDURE [dbo].[usp_User_Create]
    @FirstName    NVARCHAR(100),
    @LastName     NVARCHAR(100),
    @Email        NVARCHAR(200),
    @PasswordHash NVARCHAR(500),
    @RoleId       INT,
    @CreatedBy    NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF EXISTS (SELECT 1 FROM dbo.mst_User WHERE Email = @Email AND IsActive = 1)
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('Email already exists.', 16, 1);
            RETURN;
        END

        DECLARE @NewGUID UNIQUEIDENTIFIER = NEWID();

        INSERT INTO dbo.mst_User (GUID, FirstName, LastName, Email, PasswordHash, RoleId, CreatedBy)
        VALUES (@NewGUID, @FirstName, @LastName, @Email, @PasswordHash, @RoleId, @CreatedBy);

        COMMIT TRANSACTION;
        SELECT @NewGUID AS GUID;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_User_Delete]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- usp_User_Delete (Soft Delete)
CREATE   PROCEDURE [dbo].[usp_User_Delete]
    @GUID      UNIQUEIDENTIFIER,
    @DeletedBy NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        UPDATE dbo.mst_User
        SET IsActive  = 0,
            UpdatedOn = GETUTCDATE(),
            UpdatedBy = @DeletedBy
        WHERE GUID = @GUID AND IsActive = 1;

        IF @@ROWCOUNT = 0
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('User not found.', 16, 1);
            RETURN;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_User_GetAll]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USER STORED PROCEDURES
-- ============================================================

-- usp_User_GetAll (Pagination + Filtering + Total Count)
CREATE   PROCEDURE [dbo].[usp_User_GetAll]
    @SearchTerm  NVARCHAR(200) = NULL,
    @RoleId      INT           = NULL,
    @PageNumber  INT           = 1,
    @PageSize    INT           = 10
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT
            u.GUID,
            u.FirstName,
            u.LastName,
            u.Email,
            u.IsActive,
            u.CreatedOn,
            r.RoleName,
            COUNT(*) OVER() AS TotalRecords
        FROM dbo.mst_User u
        INNER JOIN dbo.mst_Role r ON r.Id = u.RoleId
        WHERE u.IsActive = 1
          AND (@SearchTerm IS NULL OR
               u.FirstName LIKE '%' + @SearchTerm + '%' OR
               u.LastName  LIKE '%' + @SearchTerm + '%' OR
               u.Email     LIKE '%' + @SearchTerm + '%')
          AND (@RoleId IS NULL OR u.RoleId = @RoleId)
        ORDER BY u.CreatedOn DESC
        OFFSET (@PageNumber - 1) * @PageSize ROWS
        FETCH NEXT @PageSize ROWS ONLY;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_User_GetByEmail]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- usp_User_GetByEmail (for login)
CREATE   PROCEDURE [dbo].[usp_User_GetByEmail]
    @Email NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT
            u.GUID,
            u.FirstName,
            u.LastName,
            u.Email,
            u.PasswordHash,
            u.IsActive,
            r.RoleName
        FROM dbo.mst_User u
        INNER JOIN dbo.mst_Role r ON r.Id = u.RoleId
        WHERE u.Email = @Email AND u.IsActive = 1;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_User_GetByGUID]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- usp_User_GetByGUID
CREATE   PROCEDURE [dbo].[usp_User_GetByGUID]
    @GUID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT
            u.GUID,
            u.FirstName,
            u.LastName,
            u.Email,
            u.PasswordHash,
            u.IsActive,
            u.CreatedOn,
            u.UpdatedOn,
            r.RoleName,
            r.GUID AS RoleGUID
        FROM dbo.mst_User u
        INNER JOIN dbo.mst_Role r ON r.Id = u.RoleId
        WHERE u.GUID = @GUID AND u.IsActive = 1;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_User_Update]    Script Date: 6/4/2026 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- usp_User_Update
CREATE   PROCEDURE [dbo].[usp_User_Update]
    @GUID      UNIQUEIDENTIFIER,
    @FirstName NVARCHAR(100),
    @LastName  NVARCHAR(100),
    @RoleId    INT,
    @UpdatedBy NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        UPDATE dbo.mst_User
        SET FirstName = @FirstName,
            LastName  = @LastName,
            RoleId    = @RoleId,
            UpdatedOn = GETUTCDATE(),
            UpdatedBy = @UpdatedBy
        WHERE GUID = @GUID AND IsActive = 1;

        IF @@ROWCOUNT = 0
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('User not found.', 16, 1);
            RETURN;
        END

        COMMIT TRANSACTION;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
USE [master]
GO
